apiVersion: "2023-05-01"
location: germanynorth
properties:
  osType: Linux
  restartPolicy: Never
  containers:
    - name: nighttimelights-test
      properties:
        environmentVariables:
          - name: AZURE_STORAGE_CONNECTION_STRING
            value: $AZURE_STORAGE_CONNECTION_STRING
        image: undpgeohub.azurecr.io/undp-data/geo-undpstac-pipeline:main
        #command: ["python", "-m", "undpstac_pipeline.cli", "archive", "-s=2023-09-09", "-e=2023-09-15", "-f"]
        command: ["python", "-m", "undpstac_pipeline.cli", "daily", "-y 2024", "-m 1", "-d 25", "-f"]
        #command: ["python", "-m", "undpstac_pipeline.cli", "daily", "-y 2024", "-m 1", "-d 24", "--lonmin=0", "--latmin=-10", "--lonmax=10", "--latmin=10", "-f"]
        resources:
          requests:
            cpu: 4
            memoryInGB: 16
  imageRegistryCredentials:
    - server: undpgeohub.azurecr.io
      username: $AZURE_REGISTRY_USERNAME
      password: $AZURE_REGISTRY_PASSWORD
tags: {}
type: Microsoft.ContainerInstance/containerGroups



